<section>
    {% for experience in experiences %}
    <article>
      <header>
        <span>{{ experience.date   }}</span>
        <span>/</span>
        <strong>
          <a href="{{ experience.url }}" alt="{{ experience.company }}"
            >{{ experience.title }} @
            <span class="company">{{ experience.company }}</span></a
          >
        </strong>
      </header>

      <ul>
        {% for highlight in experience.highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
    </article>
    {% endfor %}
  </section>
