<section>
    {% for experience in collections.experience reversed %}
    <article>
      <header>
        <span>{{ experience.data.date |  date: "%Y"  }}</span>
        <span>/</span
        ><strong>
          <a href="{{ experience.url }}" alt="{{ experience.data.title }}"
            >{{ experience.data.role }} @
            <span class="company">{{ experience.data.title }}</span></a
          >
        </strong>
      </header>

      {% if experience.data.highlights %}
      <ul>
        {% for highlight in experience.data.highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </article>
    {% endfor %}
  </section>
